@import "tailwindcss";

/* Add this to your global CSS or styles */
:root {
  --glow-color-1: rgb(99, 101, 241); /* Purple */
  --glow-color-2: rgba(59, 130, 246, 0.3); /* Blue */
  --glow-color-3: rgba(16, 185, 129, 0.3); /* Green */
}
html
{
  scroll-behavior: smooth;
}

body {
  background-color: rgb(8, 12, 22); /* Dark background */
  overflow-x: hidden; /* Prevent horizontal scroll */
}


* {
  box-sizing: border-box;
}

/* Optional: Reset margins and paddings for specific elements */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}




main section h2 {
  text-shadow: 0 0 4px rgba(255, 255, 255, .2), 0 0 14px rgba(130, 168, 236, .2);
  overflow: hidden;
  border-right: 0.2rem solid aquamarine;
  white-space: nowrap;
  width: fit-content; /* Adjust width to content */
  animation: 
    typing 8s steps(70, end) forwards,
    blink-caret 1s step-end 8,
    hideCursor 1s  forwards 3.79s; /* New animation to hide cursor at the end */
}

@keyframes typing {
  from { max-width: 0 }
  to { max-width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: aquamarine }
}

@keyframes hideCursor {
  to { border-color: transparent; }
}

/* Custom animation for the blob/blur movement */
@keyframes blob {
  0% {
    transform: translate(0%, 0%);
  }
  40%
  {
    transform: translate(100%  , 0%);
  }
}

/* Add the custom animation to Tailwind */
.animate-blob {
  animation: blob 6s ease-in-out infinite;
}

#tech-stack h3
{
    background: radial-gradient(circle 300px at 30% -180%, var(--glow-color-2) 0%, #ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 4px rgba(255, 255, 255, .2), 0 0 14px rgba(130, 168, 236, .2);
    letter-spacing: 2px;
}
#nav-acheivement
{
  background: radial-gradient(circle 300px at 30% -360%, var(--glow-color-1) 0%, #ffffff 100%);
  -webkit-text-fill-color: transparent; 
  background-clip: text;
}

#projects h3
{
  background: radial-gradient(circle 300px at 30% -180%, var(--glow-color-2) 0%, #ffffff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 4px rgba(255, 255, 255, .2), 0 0 14px rgba(130, 168, 236, .2);
  letter-spacing: 2px;
}

#contact h3
{
  background: radial-gradient(circle 300px at 30% -180%, var(--glow-color-2) 0%, #ffffff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 4px rgba(255, 255, 255, .2), 0 0 14px rgba(130, 168, 236, .2);
  letter-spacing: 2px;
}


#projects h4
{
  background: radial-gradient(circle 300px at 30% -180%, white 0%, #ffffff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 4px rgba(255, 255, 255, .2), 0 0 0px rgba(130, 168, 236, .2);
  letter-spacing: 2px;
}

#acheivements h3
{
  background: radial-gradient(circle 300px at 30% -180%, blue 0%, #ffffff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 4px rgba(255, 255, 255, .2), 0 0 14px rgba(130, 168, 236, .2);
  letter-spacing: 2px;
}


#socials div img
{
  transition: 0.2s ease-in-out;
}
#socials div img:hover
{
  transform: translateY(-0.2rem);
  transition: 0.3s ease-in-out;
}

#social-linkedin-icon:hover img
{
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
}

#social-github-icon:hover img {
  filter: invert(0.5) sepia(1) saturate(50) hue-rotate(30deg);
}

#social-leet-icon:hover img {
  filter: invert(0) sepia(1) saturate(5) hue-rotate(0deg);
}
#social-quaranteDeux-icon:hover img {
  filter: invert(0.2) sepia(1) saturate(5) hue-rotate(160deg);
}
/* social-github-icon
social-leet-icon
social-quaranteDeux-icon */


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Move only half the width */
  }
}

@keyframes spin {
  0% {
    transform: rotateX(0);
    background: #000;
  }
  100% {
    transform: rotateX(50%); /* Move only half the width */
  }
}


.animate-scroll {
  animation: scroll 30s linear infinite;
  display: flex;
}

.animate-roll
{
  animation: spin 5s linear infinite;
}

#technologies {
  overflow: hidden;
  position: relative;
}

#technologies:hover div
{
  animation-play-state: paused;
}

#technologies div div
{
  transition: 0.3s ease-in-out;
  border-color: rgba(142, 193, 196, 0.513);
}

#technologies div div img
{
  transition: 0.2s ease-in-out;
}

#technologies div div:hover
{
  border-width: 2px;
  cursor: pointer;
  border-color: aquamarine;
  background: var(--glow-color-3);
  box-shadow:rgba(142, 193, 196, 0.513) 0px 0px 20px 1px;
}

:root {
  font-family: "BrandBold";
  font-weight: 700;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.87);
  background-color: hwb(0 10% 89%);
}

@font-face {
  font-family: "BrandBold";
  src: url("https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2");
}

@font-face {
  font-family: "BrandMed";
  src: url("https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2");
}

@font-face {
  font-family: "scriptFont";
  src: url("https://fonts.gstatic.com/s/stylescript/v11/vm8xdRX3SV7Z0aPa88xzW5nZf176.woff2");
}

